Q1. Explain with an example each when to use a for loop and a while loop.

In [2]:
fruits = ["apple", "banana", "cherry"]
for fruit in fruits:
    print(fruit)

apple
banana
cherry

In [3]:
count = 5
while count > 0:
    print(count)
    count -= 1

5
4
3
2
1

Q2. Write a python program to print the sum and product of the first 10 natural numbers using for
and while loop.

In [4]:
#using for loop
sum_numbers = 0
product_numbers = 1

for i in range(1, 11):
    sum_numbers += i
    product_numbers *= i

print("Using for loop:")
print("Sum of first 10 natural numbers:", sum_numbers)
print("Product of first 10 natural numbers:", product_numbers)

Using for loop:
Sum of first 10 natural numbers: 55
Product of first 10 natural numbers: 3628800

In [5]:
#using a while loop to calculate the sum and product of first 10 natural numbers
sum_numbers = 0
product_numbers = 1
count = 1

while count <= 10:
    sum_numbers += count
    product_numbers *= count
    count += 1

print("Using while loop:")
print("Sum of first 10 natural numbers:", sum_numbers)
print("Product of first 10 natural numbers:", product_numbers)

Using while loop:
Sum of first 10 natural numbers: 55
Product of first 10 natural numbers: 3628800

Q3. Create a python program to compute the electricity bill for a household.
The per-unit charges in rupees are as follows: For the first 100 units, the user will be charged Rs. 4.5 per
unit, for the next 100 units, the user will be charged Rs. 6 per unit, and for the next 100 units, the user will
be charged Rs. 10 per unit, After 300 units and above the user will be charged Rs. 20 per unit.
You are required to take the units of electricity consumed in a month from the user as input.
Your program must pass this test case: when the unit of electricity consumed by the user in a month is
310, the total electricity bill should be 2250.

In [6]:
def calculate_electricity_bill(units):
    total_bill = 0

    if units <= 100:
        total_bill = units * 4.5
    elif units <= 200:
        total_bill = 100 * 4.5 + (units - 100) * 6
    elif units <= 300:
        total_bill = 100 * 4.5 + 100 * 6 + (units - 200) * 10
    else:
        total_bill = 100 * 4.5 + 100 * 6 + 100 * 10 + (units - 300) * 20

    return total_bill

units_consumed = int(input("Enter the units of electricity consumed in a month: "))
electricity_bill = calculate_electricity_bill(units_consumed)
print("Total electricity bill: Rs.", electricity_bill)

Enter the units of electricity consumed in a month: 310
Total electricity bill: Rs. 2250.0

Q4. Create a list of numbers from 1 to 100. Use for loop and while loop to calculate the cube of each
number and if the cube of that number is divisible by 4 or 5 then append that number in a list and print
that list.

In [9]:
#using for loop
cubes_divisible = []

for num in range(1, 101):
    cube = num ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        cubes_divisible.append(num)

print("Using for loop:")
print("Numbers whose cube is divisible by 4 or 5:", cubes_divisible)

Using for loop:
Numbers whose cube is divisible by 4 or 5: [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

In [10]:

cubes_divisible = []
num = 1

while num <= 100:
    cube = num ** 3
    if cube % 4 == 0 or cube % 5 == 0:
        cubes_divisible.append(num)
    num += 1

print("Using while loop:")
print("Numbers whose cube is divisible by 4 or 5:", cubes_divisible)

Using while loop:
Numbers whose cube is divisible by 4 or 5: [2, 4, 5, 6, 8, 10, 12, 14, 15, 16, 18, 20, 22, 24, 25, 26, 28, 30, 32, 34, 35, 36, 38, 40, 42, 44, 45, 46, 48, 50, 52, 54, 55, 56, 58, 60, 62, 64, 65, 66, 68, 70, 72, 74, 75, 76, 78, 80, 82, 84, 85, 86, 88, 90, 92, 94, 95, 96, 98, 100]

Q5. Write a program to filter count vowels in the below-given string.
string = "I want to become a data scientist

In [11]:
def count_vowels(input_string):
    vowels = "aeiouAEIOU"
    vowel_count = 0

    for char in input_string:
        if char in vowels:
            vowel_count += 1

    return vowel_count


string = "I want to become a data scientist"

vowel_count = count_vowels(string)

print("Number of vowels in the string:", vowel_count)

Number of vowels in the string: 12